name: AmsiCorp PHPUnit
on: workflow_call
jobs:
  phpunit:
    name: "PHP Unit"
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact-${{ github.sha }}

      - name: Extract Artifact
        run: tar -xf artifact-${{ github.sha }}.tgz && rm artifact-${{ github.sha }}.tgz
      
      - name: Execute PHPUnit
        run: /usr/bin/php ./vendor/bin/phpunit Test
